export(buildGj)
export(buildGtable)
export(buildTSG)
export(cossim)
export(getElbows)
export(getSamples)
export(inverse.rdpg.oos)
export(inverse.rdpg)
export(nonpsd.laplacian)
export(plotmap)
export(rg.sample)
export(EmbedGraphCore)
export(OrderVByEcount)
export(Embed.OOS.chunk)
export(load.kiva)
export(EmbedOOS)